# Node Modules
node_modules/

# Build Outputs
frontend/build/
frontend/dist/
backend/uploads/
backend/node_modules/
backend/.env

# Logs
logs
*.log

# Environment Files
.env
.env.*.local

# IDE / System Files
.vscode/
.idea/
.DS_Store
Thumbs.db
